/*Impor um limite as adaptações de acordo com o tamanho da tela*/
@media screen and (max-width: 640px){
    header .container{ /*Neste ponto me refiro à TAG HTML = header e a classe .container*/
        display:flex; /*Alinhamento dos elementos de tela*/
        flex-direction: column;
    }
}

@media screen and (min-width:1000px){
    .descricao{
        width: 50%
    }
}